<%- include common/header.html -%>
	 <div class="mainContainer">
	 	<div class="row-fluid">
	  	<div class="span8">
	  		<%  var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
				var levelClass = ["","label-success","label-warning","label-important","label-info","label-inverse"];
				var d = cookbook.datetime;
				var datetime = monthNames[d.getMonth()] + " " + d.getDay() + ", " + d.getFullYear();
				var levelIndex = cookbook.level-1;
			%>
			<section class="cookbookitem thumbnail">
			<div class="page-header">
			    <h2><%=cookbook.title %></h2>
	  			<div class="info">
	  					<span><i class="icon-user"></i>作者：<%= cookbook.user %></span>
	  					<span style="margin-left: 35px;"><i class="icon-calendar"></i>发表于：<small><%=datetime%></small></span>
	  					<span class="label <%=levelClass[levelIndex]%> fr"><%=cookconfig.level[levelIndex]%></span>
	  			</div>
			</div>
			<div class="steps cookbookDetail">
				<div class="detailTitle"><h3><i class="icon-home"></i>主料：</h3></div>
				<p class="minfo"><%- cookbook.major %></p>
				<%
					if(cookbook.minor!=""){
				%>
				<div class="detailTitle"><h3><i class="icon-tags"></i>配料：</h3></div>
				<p class="minfo"><%- cookbook.minor %></p>
				<%
					}
				%>
				<div class="detailTitle"><h3><i class="icon-leaf"></i>调料：</h3></div>
				<p class="minfo"><%- cookbook.seasoning %></p>
				<div class="detailTitle"><h3><i class="icon-list"></i>做法：</h3></div>
				<%- cookbook.steps %>
			</div>	
			</section>
	  	</div>
	  	 <div class="span4 side_bar">
	  	 	<section class="login thumbnail">
	    		<h3>Homely Dishes,欢迎您！</h3>
	    		<a href="/user_add" class="btn btn-info">注册</a>
				<p>
						已注册用户请
						<a href="/login">登录</a>
				</p>
	    	</section>
	  	 	<section class="thumbnail">
	    		<div class="page-header">
		          <h2>大家在看</h2>
		        </div>
		        <ol>
			        <li><a>可乐鸡翅</a></li>
			        <li><a>丝瓜炒鸡蛋</a></li>
			        <li><a>红糖姜汁蛋包汤</a></li>
			        <li><a>叉烧肉</a></li>
			        <li><a>酱黄瓜</a></li>
			        <li><a>蛋黄菠菜泥</a></li>
			        <li><a>香芋肥肠煲</a></li>
			        <li><a>魔芋烧鸭</a></li>
			    </ol>
	    	</section>
	    	<section class="thumbnail">
	    		<div class="page-header">
		          <h2>随机菜谱</h2>
		        </div>
		        <ol>
			        <li><a>以热爱祖国为荣，以危害祖国为耻吗？</a></li>
			        <li><a>以服务人民为荣，以背离人民为耻吗？</a></li>
			        <li><a>以热爱祖国为荣，以危害祖国为耻吗？</a></li>
			        <li><a>以服务人民为荣，以背离人民为耻吗？</a></li>
			        <li><a>以热爱祖国为荣，以危害祖国为耻吗？</a></li>
			        <li><a>以服务人民为荣，以背离人民为耻吗？</a></li>
			        <li><a>以热爱祖国为荣，以危害祖国为耻吗？</a></li>
			        <li><a>以服务人民为荣，以背离人民为耻吗？</a></li>
			    </ol>
	    	</section>
	    	<section class="thumbnail">
	    		<div class="page-header">
		          <h2>今日推荐</h2>
		        </div>
		        <div class="tabbable" style="margin-bottom: 9px;">
			        <ul class="nav nav-tabs">
			          <li class="active"><a href="#1" data-toggle="tab">早餐</a></li>
			          <li class=""><a href="#2" data-toggle="tab">午餐</a></li>
			          <li class=""><a href="#3" data-toggle="tab">晚餐</a></li>
			        </ul>
			        <div class="tab-content">
			          <div class="tab-pane active" id="1">
			            	<div>
				            <img src="/img/thumb/huangdouyumifagao.png" alt="">
				            <div class="caption">
				              <h3>黄豆玉米面发糕</h3>
				              <p>
						玉米面和黄豆面中的蛋白质不容易形成面筋，所以才需要与白面掺和着才能成形，因此我觉得只要白面的量能够使面粉揉捏成形即可，没必要占太大的量，还是要尽可能多的以杂面为主。对于女性而言，多吃黄豆面也是很有好处的。黄豆面是大豆食品中“植物雌性激素”的活性最高的一个。大豆中富含植物雌性激素，与女性荷尔蒙的雌性激素相似。别看是粗粮，为了出彩，咱们细做...
					      </p>
				              <p><a class="btn js-btn" href="./javascript.html#alerts">查看详细  »</a></p>
				            </div>
				          </div>
			          </div>
			          <div class="tab-pane" id="2">
			            <div>
				            <img src="/img/thumb/jiamaji.png" alt="">
				            <div class="caption">
				              <h3>椒麻鸡</h3>
				              <p>
						鸡肉洗净后沥去水分加入水淀粉、白酒、盐拌匀，腌制半个小时。同时将花椒芽洗净、葱切成小段后备用;炒锅中无需加油，烧到微热后放入腌好的鸡肉，煸炒至水分收干，鸡肉开始变白;鸡肉水分炒干后加入老抽、红糖，此时转成中小火，炒至鸡肉上色，同时放入干辣椒以及一半量的花椒芽;依次放入花椒粒、姜片、大蒜继续炒出香味，然后加水没过鸡肉的二分...
					      </p>
				              <p><a class="btn js-btn" href="./javascript.html#alerts">查看详细  »</a></p>
				            </div>
				          </div>
			          </div>
			          <div class="tab-pane" id="3">
			            <p>这里是段3</p>
			          </div>
			        </div>
			      </div>
	    	</section>
	  	 </div>
	 </div>
	 <hr/>
<%- include common/footer.html -%>

