<%- include common/header.html -%>
	<link href="/css/fileuploader.css" rel="stylesheet"/>
	<div id="modalfileupload" class="modal hide fade">
			<div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>上传图片</h3>
            </div>
            <div class="modal-body">
              	<p>To upload a file, click on the button below. Drag-and-drop is supported in FF, Chrome.</p>
				<p>Progress-bar is supported in FF3.6+, Chrome6+, Safari4+</p>
				<div id="file-uploader">		
					<noscript>			
						<p>Please enable JavaScript to use file uploader.</p>
						<!-- or put a simple form for upload here -->
					</noscript>         
				</div>
				<div class="qq-upload-extra-drop-area">Drop files here too</div>
            </div>
    </div>
    <div id="modalswfupload" class="modal hide fade">
			<div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>上传视频</h3>
            </div>
            <div class="modal-body">
              <h4>请输入视频的路径</h4>
              <div style="margin-top: 5px;">
              <p class="help-block">示例:仅支持优酷、土豆</p>
              	<form action="/uploadswf" class="form-horizontal" method="post">
            		<input type="text" name="swfurl" id="swfurl"/>
            		<input type="submit" value="&nbsp;确&nbsp;定&nbsp;" />
            	</form>
              </div>
            </div>
    </div>
	 <div class="container-fluid">
	  <div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-pills nav-stacked">
			        <li><a href="/cookbook">菜谱管理</a></li>
			        <li class="active"><a href="/write">新菜谱</a></li>
			        <li><a href="#">个人账户</a></li>
			</ul>
	    </div>
	    <div class="span9">
	    	<%  var title = ""
				,url = ""
				,level = ""
				,major = ""
				,minor = ""
				,seasoning = ""
				,steps = ""
				,action="/newcookbook";

				if ( edit == '1')
				{
					title = cookbook.title;
					url = cookbook.url;
					level = cookbook.level;
					major = cookbook.major;
					minor = cookbook.minor;
					seasoning = cookbook.seasoning;
					steps = cookbook.steps;
					action = "/update/" + cookbook.id;
				}
			%>
			<form class="form-horizontal" id="cookbookForm" action="<%=action%>" method="post">
	        <fieldset>
	          <legend>发布菜谱</legend>
	          <div class="control-group">
	            <label class="control-label" for="ctitle" >菜名</label>
	            <div class="controls">
	              <input type="text" name="title" class="input-big" id="ctitle" style="width:50%;" value="<%=title%>"/>
	              <p class="help-block">限定为10个字</p>
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label" for="curl" >路径</label>
	            <div class="controls">
	              <input type="text" name="url" class="input-big" id="curl" style="width:50%;" value="<%=url%>">
	              <p class="help-block">示例：danchaofan</p>
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label" for="clevel">难度</label>
	            <div class="controls">
	              <select id="clevel" name="level">
	                <option value="0">请选择</option>
	                <%
						for (var item=0; item < cookconfig.level.length; item++){	
					%>
							<option value="<%=item+1%>" <%if(level == item+1){%> selected = selected <%}%>><%=cookconfig.level[item]%></option>
					<%	
						} 
					%>
	              </select>
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label" for="cmajor">主料</label>
	            <div class="controls">
	              <input type="text" name="major" class="input-big" style="width:75%;" id="cmajor" value="<%=major%>">
	              <p class="help-block">示例:虾仁200克</p>
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label" for="cminor">配料</label>
	            <div class="controls">
	              <input type="text" name="minor" class="input-big" style="width:75%;" id="cminor" value="<%=minor%>">
	              <p class="help-block">示例:鸡蛋4个，香葱2根</p>
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label" for="cseasoning">调料</label>
	            <div class="controls">
	              <textarea class="input-xlarge" name="seasoning" id="cseasoning" rows="3"  style="width:75%;"><%=seasoning%></textarea>
	              <p class="help-block">示例:盐5克，料酒1小勺，淀粉20克，白胡椒粉4克，食用油适量，冷水适量</p>
	            </div>
	          </div>
	          <hr/>
	          <div class="control-group">
	            <label class="control-label">步骤</label>
	          </div>
	          <textarea class="input-xlarge" name="steps" id="csteps" style="display: none;">
	          </textarea>
	          <div class="controls step" id="cookbook_steps">
	          		<%
	          			var count = 1;
	          			if(steps!=""){
	          				steps = steps.replace(/<span class="olink">/g,"<span class=\"olink\"><a>删除</a><a>修改</a>");
	          				steps = steps.replace(/<span class="plink">/g,"<span class=\"plink\"><a>删除</a><a>替换</a>");
	          				if(steps.indexOf('<div class="stepitem">')!=-1){
		          				var array=steps.match(/<div class="stepitem">/g);
		          				count = array.length+1;
	          				}
	          			}
	          			
	          		%>
	          		<%-steps%>
	          </div>
	          <br/>
	          <div class="controls step">
	             <span class="badge" id="stepCount"><%=count%></span> <textarea class="input-xlarge" id="oneStepDetail" rows="3"  style="width:75%;" placeholder="此处填写步骤"></textarea>
	             <div class="clear" style="margin-top:8px;padding-left: 30px;width:75%;">
	             <button class="btn btn-mini" onclick="cookbook.uploadPic();return false;">图片</button>
	             <button class="btn btn-mini" onclick="cookbook.uploadSwf();return false;">视频</button>
	             <button class="btn btn-mini btn-primary fr" id="nextStepBtn">添加步骤</button>
	             </div>
	          </div>
	          <hr/>
	          <div class="fr">
	            <button type="button" id="submitBtn" class="btn btn-primary">发布菜谱</button>
	          </div>
	        </fieldset>
	      </form>
	    </div>

	   </div>
	  </div>  	
	  <hr/>
	<script src="/js/fileuploader.js" type="text/javascript"></script>
	<script>
		function createUploader(){
			var imgTemp = '<div class="step-pic"><img src="/uploads/$fname"/><span class="plink"><a>删除</a><a>替换</a></span></div>';
            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '/upload',
				sizeLimit : '2097152',
				uploadButtonText: "上传文件",
				failUploadText : '上传失败',
				allowedExtensions: ['jpeg', 'jpg', 'png','gif'],
				onComplete : function(id,fileName,responseJSON){
					var fname = responseJSON.filename;
					var imgHtml =  imgTemp.replace('$fname',fname);
					$('#cookbook_steps').append(imgHtml);
				},
                debug: true,
                extraDropzones: [qq.getByClass(document, 'qq-upload-extra-drop-area')[0]]
            });           
        }
		$(function(){
			createUploader();
			$('#submitBtn').click(function(){
				$('#cookbook_steps .olink').html("");
				$('#cookbook_steps .plink').html("");
			 	var html = $('#cookbook_steps').html();
			 	$('#csteps').val(html);
			 	$('#cookbookForm').submit();
			});
			$('#nextStepBtn').click(function(){
				var onStep = $('#oneStepDetail').val();
				if(onStep == '' || onStep.length == 0){
					var alertHtml='<div class="alert alert-error" style="margin-left:30px;width:69%;" id="emptyTip"><a class="close" data-dismiss="alert">×</a>请输入步骤内容</div>';
					$(alertHtml).insertBefore('#stepCount');
					$('#emptyTip').alert();
					$('#oneStepDetail').focus();
					return false;
				}else{
					var tpl = '<div class="stepitem"><p><span class="badge badge-success">$count</span>&nbsp;&nbsp;$content<span class="olink"><a href="javascript:void(0)" onclick="cookbook.delStep(this)" class="delete">删除</a><a href="javascript:void(0)" onclick="cookbook.modifyStep(this)" class="modify">修改</a></span></p></div>';
					var count = $('#stepCount').html();
					var content = $('#oneStepDetail').val();
					var html = tpl.replace('$count',count);
					html = html.replace('$content',content);
					$('#cookbook_steps').append(html);
					$('#stepCount').html(parseInt(count)+1);
					$('#oneStepDetail').val("");
					$('#emptyTip').remove();
					return false;
				}
			});
		});
		var cookbook = (function(){
			function delStep (alink) {
			  $(alink).parent().parent().remove();
			  var count = $('#stepCount').html();
			  $('#stepCount').html(parseInt(count)-1);
			  $('#cookbook_steps .badge').each(function(index) {
			    $(this).html(index+1);
			  });
			}
			function modifyStep (alink) {
			  alert('123123');
			}
			function uploadSwf(){
				$('#modalswfupload').modal({
			      keyboard:true
			    });
			}
			function uploadPic(){
				$('#modalfileupload').modal({
			      keyboard:true
			    });
			}
			function submitPic(){
				$('#uploadpicForm').submit();
			}
			return {
				delStep : delStep,
				modifyStep : modifyStep,
				uploadPic : uploadPic,
				uploadSwf : uploadSwf,
				submitPic : submitPic
			}
		})();
	</script>
<%- include common/footer.html -%>

